
body{
    background-color: blueviolet;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #788743;
    padding: 15px;
    margin-bottom: 10px;
}
nav a{
    text-decoration: none;
    font-family: 'Montserrat';
}
nav a:hover{
    color: aquamarine;
}
.grid{
    background-color: antiquewhite;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 210px);
    text-align: center;
    gap: 1px 1px;
    grid-template-areas: 
    "banner-1 banner-1 banner-1 banner-1"
    "noticia-1 noticia-2 noticia-3 noticia-4"
    "noticia-5 noticia-5 noticia-6 noticia-6"
    ;
}

.banner-1{
    grid-area: banner-1;
    background-color: darkkhaki;
}
.noticia-1{
    grid-area: noticia-1;
    background-color:cornflowerblue;
}
.noticia-2{
    grid-area: noticia-2;
    background-color: #454255;
}
.noticia-3{
    grid-area: noticia-3;
    background-color: #559961;
}
.noticia-4{
    grid-area: noticia-4;
    background-color: #874369;
}
.noticia-5{
    grid-area: noticia-5;
    background-color: #256278;
}
.noticia-6{
    grid-area: noticia-6;
    background-color: #251489;
}

footer{
    text-align: center;
}
